<% JSON.parse(@response.body).each do |x| %>
  <p>x[0]<%= x[0] %></p>
  <p>x[1]<%= x[1] %></p>
<% end %>


<% @all = JSON.parse(@response.body) %>

<%= @payload = @all["payload"] %>
<% @payload.each do |x| %>
<!-- Poner aquí código -->
<!-- Pushear cada uno a una array o algo -->
  <%= x["book"] %>
<% end %>
